* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: #eee;
}

.topbar {
	display: flex;
	align-items: center;
	width: 100%;
	border-bottom: 0.5vh solid #bbb;
	height: 6vh;
	background-color: yellow;
}

.topbar img {
	width: 6vh;
}

.topbar h1 {
	color: rgb(58, 58, 58);
	font-weight: 100;
	font-size: 2vw;
}

.topbar button {
	border: none;
	/* border-left: 1px solid #555;
	border-right: 1px solid #555; */
	margin-left: 16%;
	width: 10%;
	padding-top: 1vh;
	padding-bottom: 1vh;
	background-color: yellow;
	color: #333;
	/* height: 0%; */
}

.topbar button:hover {
	color: #555;
}

.topbar button:active {
	color: #777;
}

.showcaseTitle {
	width: 100%;
	margin-top: 2vh;
	margin-bottom: 2vh;
	text-align: center;
}

.showcase {
	width: 100%;
	background-color: grey;
	height: 50vh;
}

.showcase canvas {
	width: 45%;
	height: 50vh;
	/* border: 2px solid black; */
}

.showcase #showcase {
	float: right;
}

.showcase #showcaseNet {
	float: left;
	background-color: grey;
}

.examples {
	text-align: center;
	margin-top: 10vh;
	color: #555;
}

.gridContainer img {
	width: 40%;
	height: 90%;
}

.examples .gridContainer {
	margin-top: 5vh;
	display: grid;
	grid-template-columns: 30vw 30vw 30vw;
	gap: 2vw;
	background-color: #2196f3;
	padding: 2vh;
}

.examples .gridContainer > div {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 5vh 0;
	font-size: 30px;
	height: 30vh;
}

.code {
	background-color: #212121;
	color: white;
	font-family: Consolas, "Courier New", Courier, monospace;
	margin-top: 3vh;
}

.dropdown {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 20vw;
	height: 15vh;
	background-color: white;
	/* padding: 1vw; */
}

.dropdown a {
	display: block;
	border-top: 1px solid black;
	width: 100%;
	/* margin-bottom: 0.001vh; */
	height: 2vh;
}
